[submodule "themes/showcase"]
	path = themes/showcase
	url = https://github.com/apvarun/showcase-hugo-theme.git
[submodule "themes/codex"]
	path = themes/codex
	url = https://github.com/jakewies/hugo-theme-codex.git
[submodule "themes/erblog"]
	path = themes/erblog
	url = git@github.com:ertuil/erblog.git
