.js .logo {
    background-image: url('/Logo.svg');
    background-repeat: no-repeat;
    padding-left: 35px;  /* width of the image plus a little extra padding */
    display: block;  /* may not need this, but I've found I do */
    background-position-y: center;
}

.aa-Autocomplete {
    --aa-primary-color: rgb(248, 174, 0);
    --color-background: rgb(51, 51, 51);
    --color-selected: rgb(51, 51, 51);
    --color-text: rgb(221, 221, 221);
    --color-input-icon: rgb(248, 174, 0);
    --aa-muted-color: rgba(248, 174, 0, 0.32);
}

.aa-Panel {
    --color-background: rgb(51, 51, 51);
    --color-selected: #2a2a2a;
    --color-input-icon:rgb(248, 174, 0);
    --color-source-icon: rgba(248, 174, 0, 0.32);
    position: fixed;
    margin: 12px 0 0 0;
}

.aa-Item {
    --color-mark: rgb(248, 174, 0);
}

.aa-ItemTitle {
    color: rgb(221, 221, 221);;
    --aa-text-color: rgb(221, 221, 221);
    --color-text: rgb(221, 221, 221);
}
.aa-SourceFooter {
    display: none;
}